body {
    font-family: Arial, sans-serif;
    background-color: #36454F;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #008080;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Change text color of container to white */
}

h2 {
    color: #E7FFCE;
    text-align: center;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    color: black;
}

pre {
  background-color: #45A29E;
  padding: 10px;
  overflow-x: auto;
  border-radius: 6px;
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;

/* Footer Styles */
footer {
  background-color: #0BC6AB;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
        border-radius: 10px;
    }

   pre {
  background-color: #45A29E;
  padding: 10px;
  overflow-x: auto;
  border-radius: 6px;
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 10px;

}
/* Footer Styles */
footer {
    background-color: #32612D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
}
